<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visited</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="container" style="margin-top: 20vh;">
        <h1>Visited Products</h1>
    <ul>
        <% visitedProducts.forEach(product => { %>
            <li><%= product.title %> - $<%= product.price %></li>
        <% }) %>
    </ul>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>



