<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>

        .container-About{
                margin-top: 30vh;
                margin-bottom: 10vh;
            }
            .about-image{
                width: 50%;
                height: 40%;
                margin-left: 5vw;
                margin-right: 5vw;
        }
        .about-para{
            padding-left: 10vw;
            padding-right: 10vw;
        }
            .about-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .about-Heading{
                color: white;
                margin-left: 10vw;
            }
    </style>
</head>
<body>

    <div class="container-About">
        <h2 class="about-Heading">The Brand Shop Story</h2>

        <div class="about-content">
            <div class="about-para">
            <p>At Our Watch Store, we are passionate about bringing you the finest selection of watches from around the world. Our journey began with a simple love for timepieces and a vision to offer customers a curated collection that reflects both timeless elegance and modern style.
            Founded in 2021, our store has grown from a small boutique to a recognized name in the watch industry. We pride ourselves on our commitment to quality, craftsmanship, and customer satisfaction. Whether you're looking for a classic dress watch, a rugged sports watch, or a unique designer piece, we have something for every taste and occasion.
        </div>
            <img src="/img/aboutWatch.png" alt="Watches" class="about-image">

        </div>
    </div>
</body>
</html>
