<div class="footerContainer">
<footer class="footer-area gray-bgb pt-100 pb-70" style="background-color: #262424; padding-top: 5vh;" >
    <div class="container">
      <div class="row"><div class="col-lg-3 col-md-12 col-12">
          <div class="footer-widget mb-30">
            <div class="footer-widget-about"><h4 class="footer-title">About WATCHES.</h4><p>Welcome to the world of L.K. Bennett. Discover the latest trends of the on season.</p></div><div class="footer-widget-l-content">
            </div>
          </div>
        </div><div class="col-lg-6 col-md-12 col-12">
          <div class="footer-widget mb-30">
            <div class="footer-widget-m-content text-center"><div class="footer-logo">
                
              </div><div class="footer-nav">
                <nav>
                  <ul><li><a href="/pages/wishlist">Wishlist</a></li><li><a href="/account">My Account</a></li><li><a href="/checkout">Checkout</a></li><li><a href="/cart">Cart</a></li><li><a href="/collections/all">Shop</a></li></ul>
                </nav>
              </div><div class="footer-paymethod">
                <ul>
                  <li>                  
                    <img src="//watchin-1.myshopify.com/cdn/shop/files/payment.png?v=1613637164" alt="">
                  </li> 
                </ul>
              </div><p class="neha_copyright">Copyright © <a href="#">WATCHES.</a>. All Rights Reserved.</p></div>
          </div>
        </div><div class="col-lg-3 col-md-12 col-12">
          <div class="footer-widget f-right mb-30">
            <div class="footer-widget-r-content">
              <ul><li><span>Phone: </span> +0123-456789</li><li><span>Email: </span> info@example.com</li><li><span>Enquiry: </span> (012) 800 456 789-987</li><li><span>Address: </span> Store address goes here.</li></ul>
            </div>
          </div>
        </div></div>
    </div>
  </footer>

</div>