<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home">

        <div class="home__container container">
            <div class="home__data">
                <div class="home__content">
                    <div class="home__stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-s-line"></i>
                    </div>
                    <h1 class="home__title">
                        Baume Custom <br>
                        Timepiece Small <br>
                        Second
                    </h1>

                    <h3 class="home__price">$620</h3>
                </div>
                <a href="#" class="home__button">
                    ADD TO CART
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
            <div class="home__images">

                <div class="home__swiper swiper">
                    <div class="swiper-wrapper">
                        <article class="home__article swiper-slide">
                            <img src="/img/watches-1.png" alt="image" class="home__img">
                        </article>

                        <article class="home__article swiper-slide">
                            <img src="/img/watches-2.png" alt="image" class="home__img">
                        </article>

                        <article class="home__article swiper-slide">
                            <img src="/img/watches-3.png" alt="image" class="home__img">
                        </article>


                    </div>
                </div>

                <!--pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="home__info">
                <img src="/img/watches-border.png" alt="image" class="home__info-img">

                <div class="home__info-content">
                    <p class="home__info-description">
                        Personalized watches are a job of quality
                        and commitment. Each piece is the result of a
                        work of co-creation of innovation and responsible
                        sensitivity for users.
                    </p>

                    <a href="/" class="home__button-link">LEARN MORE</a>
                </div>
            </div>
        </div>

        <div class="videoContainer">
            <div class="textOverlay">
                <h1>Pa-So Swiss</h1>
                <h6>New series TS2 stainless steel with NAO Japan technology CHIP-3.7 Includes stand/packaging & tools</h6>
            </div>
            <iframe class="videoLoop" src="https://player.vimeo.com/video/544365789?autoplay=1&loop=1&muted=1&background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        
        
    </section>
</main>

